.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardContainer{
  border: solid black;
  margin: 3em;
  height: 42vh;
  width: 40%;
  margin-left: 28%;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
}

.btn{
  border:solid blue;
  width:25%;
  border-radius:12px;
  font-size: 1.5em;
}
.btn:hover{
  background-color:rgb(165, 165, 165);
}


.aPic{
  width: 100%;
  height: 100%;
}